html { 
    box-sizing: border-box;
    font-size: 62.5%;
    }
html, body {
    margin: 0;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
*,
*::before,
*::after { 
    box-sizing: inherit;
}
/** Estilos Generales*/

.header {
    border-bottom: 1px solid #e0752f;
    background-color: black;
}
.logo { 
    float: left;
    display: block;
    padding: 38px 16px;   
}
.navbar {
    float: right;

}
.navbar > ul > li {
    display: inline-block; 
    }
.navbar > ul > li > a {
    display: block;
    padding: 38px 16.5px; 
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}